<%- include('../layouts/admin-header.ejs')%>
  <div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Update Post</h2>
    <div id="container">
        <form method="POST" id="editPost">
        <div class="row">
            <div class="col-sm-12">
                <h5>Title</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="hidden" name="id" value="<% post.id %>">
                <input type="text" name="title" value="<%= post.title %>" required placeholder="Enter Post Title" class="w-100">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <h5>Content</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea name="content" rows="5" placeholder="Enter Post Content" required class="w-100"><%= post.content %></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Update Post" class="btn btn-warning">
            </div>
        </div>
        </form>
      </div>
      <p style="color: green;" class="status"></p>
  </div>
  
<script>

    $(document).ready(function(){

        $('#editPost').submit(function(event){
            event.preventDefault();

            var formData = {};
            $.each($(this).serializeArray(),function(i, field){
                formData[field.name] = field.value;
            });

            $.ajax({
                url:"/update-post",
                type:"POST",
                data: formData,
                success:function(data){
                    if(data.success == true){
                        $('.status').text(data.msg);
                    }
                    else{
                        $('.status').text(data.msg);
                    }
                }
            });

        });

    });

</script>
 
<%- include('../layouts/admin-footer.ejs')%>
